services:
  backend:
    build: ./backend
    ports:
      - '8080:8080'
    env_file:
      - ./BE/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    env_file:
      - ./FE/.env
    restart: unless-stopped
    depends_on:
      - backend
